* {
    box-sizing: border-box;
}

body {
    font-size: 1.1em;
    font-family: sans-serif;
	max-width : 80ch ;
	margin : 0 auto ;
	padding : 20px ;
}

a {
    text-decoration: none;
    color: #0b33b8
}

a:hover {
    text-decoration: underline;
    color: #000;
}